*{
    margin: 0;
    padding: 0;
}
.sneklaxy{
    display: grid;
    grid-template-columns   : 1fr 1fr 1fr;
}


.snekWorld{   
    
}
.snekRow{
    display: flex;
}
.snekRow > div{
    height: 100%;
    width: 100%;
    background-color: rgb(81, 126, 221);
}
/*
.snekPoints{
    margin-right: 5px;
    float: right;
    display:flex;
    height: 22px;
    font-size: 20px;
    color: yellow;
    background-color: black;
}




div .snekHead{
    border-radius: 100%;
    background-color: rgb(241, 238, 9);
}

div .snekBody{
    border-radius: 100%;
    background-color: rgb(1, 3, 1);
}
div .snekSnack{
    
    background-image: url(snekSnak.png);
    background-size: cover;
    background-position: center;
    
}


.rightContainer{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr;
}

.rightContainerTop{
    
    justify-content: center;
    align-content: center;
    display: grid;
    width: 100%;
    height: 100%;
    
}
.rightContainerBot{
    padding-top: 30px;
    display: grid;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}
.controlls{
    text-align: center;
    border-style: dashed;
    height: 22px;
    width: 66px;
}
.desc{
    display: none;
    top: 125px;
    left: 79.8%;
    width: 200px;
}
.snekScores{
    justify-content: center;
    text-align: center;
    border-style: solid;
    width: 100%;
    height: auto;
    
}
.controlls:hover .desc{
    display: flex;
    background-color: wheat;
    margin: auto;
}
.controlls:hover{
    width: 205px;
    height: 116px;
}
.snekScores li{
    list-style: none;
    display: none;
}
.snekScores:hover li{
    display: block ;
    width: 100%;

}
.snekScores:hover{
    
}
*/

